/*
* @Author: 牛培楠
* @Date:   2018-05-13 15:08:22
* @Last Modified by:   牛培楠
* @Last Modified time: 2018-05-26 10:21:08
*/
*{
    margin:0;
    padding: 0;
    list-style: none;
}
body{
    background: #CDCDCD;
}
.header{
    width: auto;
    height: 50px;
    background: #323232;
}
.header .con{
    width: 600px;
    height: 50px;
    margin:0 auto;
}
.header .con label{
    width: 100px;
    height: 50px;
    font-size: 24px;
    color: #DDDDDD;
    line-height: 50px;
}
.header .con .text{
    width: 360px;
    height: 24px;
    float: right;
    outline: none;
    border:0;
    border-radius: 5px;
    text-indent:1em;
    line-height: center;
    box-shadow: 0 1px 0 rgba(255,255,255,0.24);
    margin-top: 12px;
}
.bigbox{
    width: 100%;
    height: auto;
}
.bigbox .ing{
    width: 600px;
    height: 31px;
    margin: 25px auto;
}
.bigbox .ing .left{
    width: 96px;
    height: 31px;
    font-size:1.5em;
    font-weight: bold;
}
.bigbox .ing .right{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:#E6E6FA;
    float: right;
    margin-top:-25px;
    text-align: center;
    line-height: 20px;
}
.bigbox .con{
    width: 600px;
    height: auto;
    margin:0 auto;
}
.bigbox .con .info{
    width: 600px;
    height: 32px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    margin-bottom:10px;
    border-left: 5px solid #629A9C;
}
.bigbox .con .info input{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border:1px solid #B0B0B0;
    background: #DEDEDE;
    margin-top: 5px;
    margin-left:15px;
}
.bigbox .con .info .del{
    width: 22px;
    height: 20px;
    float: right;
    margin:4px 11px;
    border-radius:12px;
    border:2px solid #CCCCCC; 
    background: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
}
.bigbox .con .info .del::after{
    content: "-";
    width: 18px;
    height: 16px;
    border-radius: 8px;
    background:#ccc;
    text-align: center;
    line-height: 16px;
    color:#fff;
}
.bigbox .con .info .text{
    width: 504px;
    height: 32px;
    float: right;
    line-height: 32px;
    margin-left:10px;
    position: relative;
}
.bigbox .con .info .text input{
    width: 400px;
    height: 30px;
    margin-left: 0;
    outline: none;
    border: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
}
.bigbox1{
    width: 100%;
    height: auto;
}
.bigbox1 .ing{
    width: 600px;
    height: 31px;
    margin: 25px auto;
}
.bigbox1 .ing .left{
    width: 96px;
    height: 31px;
    font-size:1.5em;
    font-weight: bold;
}
.bigbox1 .ing .right{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:#E6E6FA;
    float: right;
    margin-top:-25px;
    text-align: center;
    line-height: 20px;
}
.bigbox1 .con{
    width: 600px;
    height: auto;
    margin:0 auto;
}
.bigbox1 .con .info{
    width: 600px;
    height: 32px;
    margin: 0 auto;
    background: #E6E6E6;
    border-radius: 5px;
    margin-bottom:10px;
    border-left: 5px solid #629A9C;
}
.bigbox1 .con .info input{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border:1px solid #B0B0B0;
    background: #DEDEDE;
    margin-top: 5px;
    margin-left:15px;
}
.bigbox1 .con .info .del{
    width: 22px;
    height: 20px;
    float: right;
    margin:4px 11px;
    border-radius:12px;
    border:2px solid #CCCCCC; 
    background: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
}
.bigbox1 .con .info .del::after{
    content: "-";
    width: 18px;
    height: 16px;
    border-radius: 8px;
    background:#ccc;
    text-align: center;
    line-height: 16px;
    color:#fff;
}
.bigbox1 .con .info .text{
    width: 504px;
    height: 32px;
    float: right;
    line-height: 32px;
    margin-left:10px;
    position: relative;
}
.bigbox1 .con .info .text input{
    width: 400px;
    height: 30px;
    margin-left: 0;
    outline: none;
    border: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #E6E6E6;
}